.pirma-pastraipa {
    padding-left: 30px;
    border: 2px solid rgb(0, 255, 13);
}
.antra-pastraipa {
    margin-top: 20px;
    margin-bottom: 0px;
    border: 2px solid rgb(0, 255, 13);
    border-bottom: 5px dotted rgb(243, 17, 17);

}
